<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau-To-Go</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div id="settings-icon">
        <img src="/images/settings-icon.png" alt="Settings"> <!-- Use the SVG file -->
    </div>
    <div id="controls" class="hidden">
        <button id="toggle-info-button">Info</button>
        <select id="grid-size-selector">
            <option value="5" selected>5x5</option>
            <option value="10">10x10</option>
            <option value="15">15x15</option>
            <option value="20">20x20</option>
        </select>
    </div>
    <button id="compute-atom-monoid-button">Atom</button>
    <div id="content">
        <div id="ferrers-diagram"></div>
        <div id="atom-diagram"></div> <!-- New non-editable drawing area -->
    </div>
    <button id="clear-button">Clear</button>
    <div id="sidebar" class="hidden">
        <div id="partition-display"><h3>Partition:</h3></div>
        <div id="hookset-display"><h3>Hookset:</h3></div>
        <div id="atom-partition-display"><h3>Atom Partition:</h3></div>
    </div>
    <script type="module" src="/diagram.js"></script>
    <script type="module" src="/hooks.js"></script>
    <script type="module" src="/partition.js"></script>
    <script type="module" src="/atom_monoid.js"></script>
    <script type="module" src="/script.js"></script>
</body>
</html>
